.top-header{
  background-color: lightblue;
}

.left-section{
  /* padding-bottom: 200px; */
  border: 1px solid black;
}

.profilePic {
  border-radius: 50%;
}

.hidden{
  display: none;
}

.active{
  display: block;
}

.profiles {
  height: 600px;
  border: 1px solid black;
}